<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamori.foodexpert"
    android:versionCode="4"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- AdView SDK mandatory or important permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Food"
            android:label="@string/title_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InquireSearchPage"
            android:label="@string/title_food_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InquireResultPage"
            android:label="@string/title_activity_food"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DiseaseSearchPage"
            android:label="@string/title_disease_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DiseaseResultPage"
            android:label="@string/title_disease_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailInfoPage"
            android:label="@string/title_activity_food"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TipPage"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AdView SDK for AdMob -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- AdView SDK for Domob -->
        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdView SDK for InMobi -->
        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard" />

        <activity 
            android:name=".Point" 
            android:configChanges="keyboardHidden|orientation" />

        <!-- Channel id for app markets -->
        <!-- meta-data android:name="AdView_CHANNEL" android:value="NDUOA"></meta-data -->
        <!--
              supported markets are as follows:
			EOE(优亿市场)
			GOOGLEMARKET(谷歌电子市场)
			APPCHINA(应用汇)
			HIAPK(安卓市场)
			GFAN(机锋)
			GOAPK(安智)
			NDUOA(N多网)
			91Store(手机91)
			LIQUCN(历趣)
			WAPTW(天网)
			ANDROIDCN(安卓中国)
			GGDWON(G友网)
			ANDROIDAI(安卓之家)
			STARANDROID(安卓星空)
			ANDROIDD(安致)
			YINGYONGSO(应用搜)
			IMOBILE(手机之家)
			SOUAPP(搜应用)
			MUMAYI(木蚂蚁)
			MOBIOMNI(欧米)
			PAOJIAO(泡椒网)
			AIBALA(爱扒拉市场)
			COOLAPK(酷安网)
			ANFONE(安丰)
			APKOK(乐致网) 
        -->
    </application>

</manifest>